@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body{
    width: 100%;
    height: 100vh;
}


/* header */

li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* HEADER */



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
}

.nav-link{
    list-style: none;
}

.nav-link li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-link li a{
    transition: all 0.3s ease 0s;
}

.nav-link li a:hover{
    color: lightblue;
}

button {
    padding: 9px 25px;
    background-color: lightblue;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: whitesmoke;
}



/* HERO */


.hero{
    text-align: center;
    padding: 100px;
}

.hero h1{
    font-size: 70px;
    color: #fff;
    margin-bottom: 10px;
}

/* CONTENT */

.content p{
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 40px;
}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip{
        width: auto;
        height: 100%;
    }
}



/* SEARCH BAR */



.search-bar{
    display: flex;
    align-items: center;
    min-width: 700px;
    border-radius: 50px;
    background-color: white;
}

.dropdown{
    position: relative;
    width: 280px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: lightblue;
    box-shadow: 20px;
    cursor: pointer;
}

.dropdown-text{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    padding: 1rem;
}

.dropdown-list{
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    border-radius: 15px;
    max-height: 0;
    overflow: hidden;
    background-color: lightblue;
    list-style-type: none;
    transition: max-height .5s;
}

#list.show{
    max-height: 400px;
}

.dropdown-list-item{
    font-size: 0.9rem;
    font-weight: 500;
    padding: 1rem;
    cursor: pointer;
    transition: margin-left 0.2s ease, color 0.2s ease;
}

.dropdown-list-item:hover{
    margin-left: 0.5rem;
    color: black;
}

.search-box{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color: lightblue;
}

.search-box input{
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: lightblue;
    border: 0;
    outline: 0;
}

.search-box i{
    font-size: 1.3rem;
    cursor: pointer;
}

.search-box input::placeholder{
    font-size: 1rem;
    font-weight: 500;
    color: black;
}
/* ABOUT */



.about{
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);
    background: linear-gradient(to right, #FFFDE4, #005AA7); 
    width: 100%;
    padding: 78px 0px;
    
}

.about img{
    height: auto;
    width: 300px;
    margin: 120px;
}

.about-text{
    width: 400px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: black;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span{
    color: black;
}

.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
}




/* POPULAR */

.popular-destination{
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFDE4,);
    background: linear-gradient(to right, #FFFDE4, #005AA7); 
    text-align: center;
}

.popular-destination h1{
    font-size: 50px;
    font-weight: normal;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
}

.popular-destination p{
    text-align: center;
    margin-bottom: 10px;
}


.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 16px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}

.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}

/* GALLERY */

.card-gallery{
    position: relative;
    min-height: 100vh;
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);
    background: linear-gradient(to right, #FFFDE4, #005AA7); 
}

.card-gallery h1{
    font-size: 50px;
    font-weight: normal;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
}

.card-gallery p{
    text-align: center;
    margin-bottom: 50px;
}

.image img{
    max-width: 100%;
    height: 250px;
}

.card-gallery .image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.card-gallery .image-container .image{
    height: 250px;
    width: 350px;
    border: 10px solid #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    overflow: hidden;
    cursor: pointer;
}

.card-gallery .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.card-gallery .image-container .image:hover img{
    transform: scale(1.1);
}



/* FOOTER */

footer{
    background-color: lightblue;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/* Hover Effect Social Media Icon */


.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}